{% extends 'template.html.twig' %}

{% block main %}

<div class="alert alert-danger">
    <p>l'age moyen est {{ stat[0]['ageMoyen'] }}</p>
    <p>le nombre de personne est {{ stat[0]['nbrePersonne'] }}</p>
</div>


{% endblock %}

{% block titre %}

{% endblock %}

